@media only screen and (max-width: 1140px){
	.block-size-floor label {
    	margin-left: 0;
	}
}
@media only screen and (max-width: 680px){
	.block-size-tile label {
    	margin-left: 0;
	}
}
@media only screen and (max-width: 875px){
	.block-price-tile label {
    	margin-left: 0;
	}
}
@media only screen and (max-width: 460px){
	input {
		width: 100%;
	}
}