.wrapp {
    width: 50%;
    margin: 0 auto;
}
.container-calc {
    padding: 15px;
    border: 1px solid #000;
}
.wrapp h1 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
}
.container-calc h2 {
    font-size: 21px;
    margin-bottom: 15px;
}
.row {
    margin-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-weight: 700;
}
.color-title {
    font-size: 14px;
    font-style: italic;
    font-family: sans-serif;
    color: #999;
}
input {
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
label {
    margin-left: 20px;
    font-size: 19px;
}
.container-count {
    display: flex;
    justify-content: center;
    margin: 30px 0 10px 0;
}
.container-count button {
    padding: 10px 16px;
    font-size: 18px;
    color: #fff;
    background-color: #337ab7;
    border: 1px solid transparent;
    border-color: #2e6da4;
    border-radius: 4px;
    text-transform: uppercase;
}
.dont-check  {
    display: none;
    text-align: center;
    color: red;
}
.container-result p {
    font-size: 120%;
    margin-bottom: 10px;
}
sup {
    vertical-align: super;
}